<div class="container form-edit">
  <form name="vm.dispatcherForm" ng-submit="vm.update(vm.dispatcherForm.$valid)" novalidate>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>手配者編集</h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-save back="admin.dispatchers.list"></button-save>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-detail">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  名前
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="name" class="form-control" ng-model="vm.dispatcher.name" placeholder="名前を入力"
                    required autocomplete="off">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  説明
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="description" class="form-control" ng-model="vm.dispatcher.description"
                    placeholder="説明を入力" required autocomplete="off">
                </td>
              </tr>
              <tr ng-if="vm.dispatcher._id">
                <th class="col-xs-2">
                  ログインID / パスワード
                </th>
                <td class="col-xs-10">
                  <p>{{vm.dispatcher.account.username}} / {{vm.dispatcher.account.username}}</p>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  start
                </th>
                <td class="col-xs-10">
                  <input type="text" name="start" class="form-control" ng-model="vm.dispatcher.start"
                    placeholder="start" input-validator="int">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  end
                </th>
                <td class="col-xs-10">
                  <input type="text" name="end" class="form-control" ng-model="vm.dispatcher.end"
                    placeholder="demo" input-validator="int" val-min="vm.dispatcher.start">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="messages" ng-if="vm.isSaveClick">
          <div ng-messages="vm.dispatcherForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">名前を入力してください。</li>
            <li class="text-red" ng-show="halfsizeAlphameric">名前は半角英数字を入力してください。</li>
          </div>
          <div ng-messages="vm.dispatcherForm.description.$error" role="alert">
            <li class="text-red" ng-message="required">説明を入力してください。</li>
            <li class="text-red" ng-message="maxLength">説明は50桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.dispatcherForm.start.$error" role="alert">
            <li class="text-red" ng-message="int">start 1-10 sai</li>
          </div>
          <div ng-messages="vm.dispatcherForm.end.$error" role="alert">
            <li class="text-red" ng-message="int">end 1-10 sai</li>
          </div>
        </div>
        <div class="form-group mgnb text-center">
          <button-save back="admin.dispatchers.list"></button-save>
        </div>
      </div>
    </div>
  </form>
</div>
