<div class="container form-detail">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4>協力者詳細</h4>
        </div>
        <div class="col-xs-6 text-right">
          <button-edit back="admin.partners.list" state="admin.partners.edit" params="{partnerId: vm.partner._id}"></button-edit>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-detail">
          <tbody>
            <tr>
              <th class="col-xs-2">
                名前
              </th>
              <td class="col-xs-10" ng-bind="vm.partner.name"></td>
            </tr>
            <tr>
              <th class="col-xs-2">
                説明
              </th>
              <td class="col-xs-10" ng-bind="vm.partner.description"></td>
            </tr>
            <tr>
              <th class="col-xs-2">
                ログインID / パスワード
              </th>
              <td class="col-xs-10">
                <span>{{vm.partner.account.username}} / {{vm.partner.account.username}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group mgnb text-center">
        <button-edit back="admin.partners.list" state="admin.partners.edit" params="{partnerId: vm.partner._id}"></button-edit>
      </div>
    </div>
  </div>
</div>
