<div class="container form-edit">
  <form name="vm.unitForm" ng-submit="vm.update(vm.unitForm.$valid)" novalidate>
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <form-title></form-title>
          </div>
          <div class="col-xs-6 text-right">
            <button-save back="admin.units.list"></button-save>
          </div>
        </div>
        <div class="table-custom">
          <table class="table table-detail">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  部署名
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="name" class="form-control" ng-model="vm.unit.name" placeholder="社名を入力"
                    required autocomplete="off" maxlength="30">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  備考
                </th>
                <td class="col-xs-10">
                  <input type="text" name="description" class="form-control" ng-model="vm.unit.description"
                    placeholder="備考を入力" autocomplete="off" maxlength="50">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="messages" ng-if="vm.isSaveClick">
          <div ng-messages="vm.unitForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">社名を入力してください。</li>
            <li class="text-red" ng-message="maxLength">社名は30桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.unitForm.description.$error" role="alert">
            <li class="text-red" ng-message="maxLength">備考は50桁以内を入力してください。</li>
          </div>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-save back="admin.units.list"></button-save>
        </div>
      </div>
    </div>
  </form>
</div>
