<div class="container" ng-init="vm.open = false">
  <table-search>
    <table-search-button>
      <a class="btn btn-success btn-sm pull-right mg5r" data-ui-sref="admin.units.create">
        <span class="glyphicon glyphicon-plus"></span> 登録
      </a>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>検索キー</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword" placeholder="検索キーを入力">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>登録日時(From)</label>
          <input type="text" name="created_min" datetime-picker="" datepicker-options="dateOptions" timepicker-options="timeOptions"
            ng-click="openCalendar($event, 'created_min')" placeholder="YYYY/MM/DD HH:mm" is-open="open.created_min"
            class="form-control" ng-model="vm.condition.created_min">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>登録日時(To)</label>
          <input type="text" name="created_max" datetime-picker="" datepicker-options="dateOptions" timepicker-options="timeOptions"
            ng-click="openCalendar($event, 'created_max')" placeholder="YYYY/MM/DD HH:mm" is-open="open.created_max"
            class="form-control" ng-model="vm.condition.created_max">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>表示件数（最大1000件まで）</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit" placeholder="表示件数を入力"
            search-limit maxlength="4">
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">{{tableReport(vm.condition)}}</p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th ng-click="vm.handleSortChanged('name')" table-order tbtitle="部署名" tbmodel="name" tbcondition="vm.condition"></th>
              <th ng-click="vm.handleSortChanged('description')" table-order tbtitle="備考" tbmodel="description"
                tbcondition="vm.condition"></th>
              <th ng-click="vm.handleSortChanged('created')" table-order tbtitle="登録日時" tbmodel="created" tbcondition="vm.condition"
                class="text-center"></th>
              <th class="text-center w150">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" ng-show="!vm.docs || vm.docs.length === 0">該当データが0件でした。</td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index" class="clickable" ui-sref="admin.units.detail({ unitId: item._id })">
              <td class="text-center">{{ tableIndex(vm.condition, $index) }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td class="text-center" ng-bind="item.created | dateTimeFormat"></td>
              <td class="text-center w150" ui-sref-ignore>
                <a class="btn btn-xs btn-primary" ui-sref="admin.units.edit({unitId: item._id})"><i class="fa fa-pencil"
                    aria-hidden="true"></i> 編集</a>
                <a class="btn btn-xs btn-danger" ng-click="vm.remove(item._id)"><i class="fa fa-trash" aria-hidden="true"></i>
                  削除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</div>
