<div class="container form-detail">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row mg10b">
        <div class="col-xs-6">
          <form-title></form-title>
        </div>
        <div class="col-xs-6 text-right">
          <button-edit back="admin.workers.list" state="admin.workers.edit" params="{workerId: vm.worker._id}"></button-edit>
        </div>
      </div>
      <table class="table table-bordered table-detail">
        <tbody>
          <tr>
            <th class="col-xs-2">
              社名
            </th>
            <td class="col-xs-10" ng-bind="vm.worker.name"></td>
          </tr>
          <tr>
            <th class="col-xs-2">
              備考
            </th>
            <td class="col-xs-10" ng-bind="vm.worker.description"></td>
          </tr>
          <tr>
            <th class="col-xs-2">
              電話番号
            </th>
            <td class="col-xs-10" ng-bind="vm.worker.phone"></td>
          </tr>
          <tr>
            <th class="col-xs-2">
              担当者
            </th>
            <td class="col-xs-10" ng-bind="vm.worker.manager"></td>
          </tr>
          <tr>
            <th class="col-xs-2">
              ユーザーID
            </th>
            <td class="col-xs-10" ng-bind="vm.worker.account.username"></td>
          </tr>
          <tr>
            <th class="col-xs-2">
              協力者
            </th>
            <td class="col-xs-10">
              {{vm.worker.partner.name}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group mgnb text-center">
        <button-edit back="admin.workers.list" state="admin.workers.edit" params="{workerId: vm.worker._id}"></button-edit>
      </div>
    </div>
  </div>
</div>
