<div class="container" ng-init="vm.open = false">
  <table-search>
    <table-search-button>
      <button-back back="admin.workers.list"></button-back>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>検索キー</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword" placeholder="検索キーを入力">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>登録時間(From)</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="vm.condition.created_min"
            is-open="picker.created_min.open" ng-click="openCalendar($event, 'created_min')" placeholder="0000/00/00"
            ng-change="vm.handleConditionChanged(true)">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>登録時間(To)</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="vm.condition.created_max"
            is-open="picker.created_max.open" ng-click="openCalendar($event, 'created_max')" placeholder="0000/00/00"
            ng-change="vm.handleConditionChanged(true)">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label>表示件数（最大1000件まで）</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit" placeholder="表示件数を入力"
            search-limit maxlength="4">
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title mg20r"><b>下請け削除申請一覧</b></p>
        <p class="mgn title-group__inline-title">{{tableReport(vm.condition)}}</p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th ng-click="vm.handleSortChanged('name')" table-order tbtitle="社名" tbmodel="name" tbcondition="vm.condition"></th>
              <th ng-click="vm.handleSortChanged('phone')" table-order tbtitle="電話番号" tbmodel="phone"
                tbcondition="vm.condition"></th>
              <th ng-click="vm.handleSortChanged('manager')" table-order tbtitle="担当者" tbmodel="manager"
                tbcondition="vm.condition"></th>
              <th>協力会社</th>
              <th ng-click="vm.handleSortChanged('created')" table-order tbtitle="登録時間" tbmodel="created" tbcondition="vm.condition"
                class="text-center"></th>
              <th class="text-center w150">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" ng-show="!vm.docs || vm.docs.length === 0">データが一件も登録されていません。</td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index">
              <td class="text-center">{{ tableIndex(vm.condition, $index) }}</td>
              <td>{{ item.workerId.name }} {{item.workerId.name}}</td>
              <td>{{ item.workerId.phone }}</td>
              <td>{{ item.workerId.manager }}</td>
              <td>{{ item.partner.name }}</td>
              <td class="text-center" ng-bind="item.created | dateTimeFormat"></td>
              <td class="text-center w150" ui-sref-ignore>
                <a class="btn btn-xs btn-warning" ng-click="vm.petitionDelete(item.workerId._id, item._id)"><i class="fa fa-star"
                    aria-hidden="true"></i> 削除申請</a>
                <a class="btn btn-xs btn-danger" ng-click="vm.remove(item._id)"><i class="fa fa-trash" aria-hidden="true"></i>
                  削除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination class="mg10t" total-items="vm.condition.total" ng-model="vm.condition.page" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()"></uib-pagination>
    </div>
  </div>
</div>
