<div class="container-fluid form-edit">
  <form name="vm.workerForm" ng-submit="vm.update(vm.workerForm.$valid)" novalidate>
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <form-title></form-title>
          </div>
          <div class="col-xs-6 text-right">
            <button-save back="admin.workers.list"></button-save>
          </div>
        </div>
        <div class="table-custom">
          <table class="table table-detail">
            <tbody>
              <tr>
                <th class="col-xs-2">
                    社名
                    <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="name" class="form-control" ng-model="vm.worker.name" placeholder="社名を入力"
                    required autocomplete="off" maxlength="30">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  備考
                </th>
                <td class="col-xs-10">
                  <input type="text" name="description" class="form-control" ng-model="vm.worker.description"
                    placeholder="備考を入力" autocomplete="off" maxlength="50">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  電話番号
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="phone" class="form-control" ng-model="vm.worker.phone"
                    placeholder="電話番号を入力" required autocomplete="off" input-validator="tel">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  担当者
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="manager" class="form-control" ng-model="vm.worker.manager"
                    placeholder="担当者を入力" required autocomplete="off" maxlength="50">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  協力会社
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <ui-select name="partner" ng-model="vm.worker.partner" theme="bootstrap" required>
                    <ui-select-match placeholder="協力会社を選択">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.partners | filter: $select.search">
                      <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  ログインID
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" id="username" name="username" class="form-control" autocomplete="new-username"
                  ng-model="vm.worker.account.username" placeholder="ログインIDを入力" required 
                  unique-validator params="{ type: 'username', username: vm.worker.account.username, id: vm.worker.account._id}" />
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  パスワード
                  <span class="text-red" ng-if="!vm.worker._id">*</span>
                </th>
                <td class="col-xs-10">
                  <button type="button" class="btn btn-warning btn-sm" ng-click="vm.randomPass()"><i class="glyphicon glyphicon-refresh"></i> ランダム作成</button>
                  <label class="alert alert-warning" ng-if="vm.password">{{vm.password}}</label>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  有効期限
                </th>
                <td class="col-xs-10">
                  <input type="text" id="expire" name="expire" datetime-picker="" datepicker-options="dateOptions"
                    timepicker-options="timeOptions" ng-click="openCalendar($event, 'expire')" placeholder="有効期限を入力"
                    is-open="open.expire" autocomplete="off" class="form-control" ng-model="vm.worker.account.expire"
                    ng-pattern="datetimeFormat">
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="messages" ng-if="vm.isSaveClick">
          <div ng-messages="vm.workerForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">社名を入力してください。</li>
            <li class="text-red" ng-message="maxLength">社名は30桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.workerForm.description.$error" role="alert">
            <li class="text-red" ng-message="maxLength">備考は50桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.workerForm.phone.$error" role="alert">
            <li class="text-red" ng-message="required">電話番号を入力してください。</li>
            <li class="text-red" ng-message="tel">電話番号の入力形式に誤りがあります。</li>
          </div>
          <div ng-messages="vm.workerForm.manager.$error" role="alert">
            <li class="text-red" ng-message="required">担当者を入力してください。</li>
            <li class="text-red" ng-message="maxLength">担当者は50桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.workerForm.username.$error" role="alert">
            <li class="text-red" ng-message="required">ログインIDを入力してください。</li>
            <li class="text-red" ng-message="unique">ログインIDは既に存在します。</li>
          </div>
          <div ng-messages="vm.workerForm.partner.$error" role="alert">
            <li class="text-red" ng-message="required">協力会社を選択してください。</li>
          </div>
        </div>
        <div class="form-group mgnb text-center">
          <button-save back="admin.workers.list"></button-save>
        </div>
      </div>
    </div>
  </form>
</div>
