<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
      <div class="log-off-wrap">
        <h3 class="mgn mg10b"><i class="fa fa-lock" aria-hidden="true"></i> パスワード変更</h3>
        <form name="vm.passwordForm" ng-submit="vm.handleChangePassword(vm.passwordForm.$valid)" class="signin"
          novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              <label for="currentPassword">現在のパスワード</label>
              <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword"
                placeholder="現在のパスワードを入力" required autofocus>
              <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
                <p class="help-block error-text" ng-message="required">現在のパスワードを入力してください。</p>
              </div>
            </div>
            <div class="form-group mg10t" show-errors>
              <label for="newPassword">新しいパスワード</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword"
                placeholder="新しいパスワードを入力" password-validator required>
              <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
                <p class="help-block error-text" ng-message="required">新しいパスワードを入力してください。</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group mg10t" show-errors>
              <label for="verifyPassword">確認用パスワード</label>
              <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword"
                placeholder="確認用パスワードを入力" password-verify="vm.passwordDetails.newPassword" required>
              <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
                <p class="help-block error-text" ng-message="required">確認用パスワードを入力してください。</p>
                <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">新しいパスワードと確認用パスワードが違います。</p>
              </div>
            </div>
            <button type="submit" class="btn btn-logoff">保存</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
