<aside class="aside-menu" id="aside-menu" ng-controller="HeaderController as vm" ng-if="Authentication.user">
  <nav class="aside-nav">
    <ul class="nav">
      <li ng-repeat="item in vm.menu.items" ng-class="{ 'active': $state.includes(item.parrent_state) }">
        <a ng-if="item.roles.indexOf(Authentication.user.roles[0]) !== -1 && item.items.length == 0" ui-sref="{{item.state}}">
          <i ng-class="item.class" aria-hidden="true"></i>&nbsp;{{item.title}}
        </a>
      </li>
      <li class="log-off" >
        <a ng-click="logout()">
          <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;ログアウト</a>
      </li>
    </ul>
  </nav>
</aside>
