<div class="container-fluid" ng-controller="HeaderController as vm">
  <!-- <a ui-sref="home" class="navbar-brand" ng-style="{'background-image': 'url(/modules/core/client/img/brand/logo.png)'}"></a> -->
  <!--<div class="navbar-header">-->
  <a class="navbar-toggle aside-menu-toggler d-md-none" id="aside-menu-toggler" href="#" ng-if="Authentication.user">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <ul class="nav navbar-nav d-sm-down-none" ng-if="Authentication.user">
    <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-switch="item.type" ng-class="{ 'active': $state.includes(item.parrent_state) }">
      <a ng-if="item.roles.indexOf(Authentication.user.roles[0]) !== -1" ui-sref="{{item.state}}">{{::item.title}}</a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right d-sm-down-none" ng-if="Authentication.user">
    <li>
      <a ng-click="logout()">ログアウト</a>
    </li>
  </ul>
</div>
