<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="widget unique-widget">
        <div class="row">
          <a href="#">
            <div class="widget-caption info">
              <div class="col-xs-4 no-pad">
                <i class="icon fa fa-user-secret"></i>
              </div>
              <div class="col-xs-8 no-pad">
                <div class="widget-detail">
                  <h3 data-ng-bind="vm.total_admin"></h3>
                  <span>管理者件数</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="widget unique-widget">
        <div class="row">
          <a ui-sref="admin.users.list">
            <div class="widget-caption warning">
              <div class="col-xs-4 no-pad">
                <i class="icon fa fa-user"></i>
              </div>
              <div class="col-xs-8 no-pad">
                <div class="widget-detail">
                  <h3 data-ng-bind="vm.total_user"></h3>
                  <span>顧客件数</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="widget unique-widget">
        <div class="row">
          <a href="#">
            <div class="widget-caption danger">
              <div class="col-xs-4 no-pad">
                <i class="icon icon fa fa-rocket"></i>
              </div>
              <div class="col-xs-8 no-pad">
                <div class="widget-detail">
                  <h3 data-ng-bind="vm.apiCnt"></h3>
                  <span>認証回数</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>