<!-- modal template -->
<script type="text/ng-template" id="confirmTemplate.html">
    <div class="modal-header-confirm">
        <h4 class="modal-title-confirm">確認</h4>
    </div>
    <div class="modal-body text-center" id="modal-body" >
        {{:: dialog.message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">閉じる</button>
        <button class="btn btn-primary" type="button" ng-click="confirm()">決定</button>
    </div>
</script>
<!-- #modal template -->
<script type="text/ng-template" id="textInputTemplate.html">
    <div class="modal-header-confirm">
        <h4 class="modal-title-confirm">{{:: dialog.title}}</h4>
    </div>
    <div class="modal-body">
        <p>{{:: dialog.message}}</p>
        <input type="text" class="form-control" ng-model="dialog.data">
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">キャンセル</button>
        <button class="btn btn-primary" type="button" ng-click="confirm(dialog.data)">{{:: dialog.button}}</button>
    </div>
</script>