<div class="container">
  <form name="vm.userForm" class="form-edit" ng-submit="vm.update(vm.userForm.$valid)" novalidate autocomplete="off" >
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row mg10b">
          <div class="col-xs-6">
            <form-title></form-title>
          </div>
          <div class="col-xs-6 text-right">
            <button-save back="admin.users.list"></button-save>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-detail">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  ユーザーID
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="username" class="form-control" ng-model="vm.user.username"
                    placeholder="ユーザーIDを入力" required maxlength="12" halfsize-alphameric maxlength-validator="12" autocomplete="new-username">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  パスワード
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                    placeholder="パスワードを入力" ng-required="!vm.user._id" maxlength="32" minlength="8" halfsize-alphameric autocomplete="new-password">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  氏名
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10">
                  <input type="text" name="name" class="form-control" ng-model="vm.user.name" placeholder="氏名を入力"
                    required maxlength="50" maxlength-validator="50" autocomplete="off">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  社名
                </th>
                <td class="col-xs-10">
                  <input type="text" name="company" class="form-control" ng-model="vm.user.company" placeholder="社名を入力"
                      maxlength="50" maxlength-validator="50" autocomplete="off">
                </td>
              </tr>
              <tr>
                  <th class="col-xs-2">
                  役割
                  </th>
                  <td class="col-xs-10">
                      <select class="form-control" 
                              title="Select period" ng-model="vm.role"
                              ng-selected="$first" ng-options="role.id as role.name for role in roles">
                              <option value="" style="display: none"></option>
                      </select>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="messages" ng-if="vm.isSaveClick">
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <li class="text-red" ng-message="required">ユーザーIDを入力してください。</li>
            <li class="text-red" ng-show="halfsizeAlphameric">ユーザーIDは半角英数字を入力してください。</li>
            <li class="text-red" ng-show="maxLength">ユーザーIDは12桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <li class="text-red" ng-message="required">パスワードを入力してください。</li>
            <li class="text-red" ng-message="halfsizeAlphameric">パスワードは８～３２の半角英数字を入力してください。</li>
            <li class="text-red" ng-message="maxlength">パスワードは８～３２の半角英数字を入力してください。</li>
            <li class="text-red" ng-message="minlength">パスワードは８～３２の半角英数字を入力してください。</li>
          </div>
          <div ng-messages="vm.userForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">氏名を入力してください。</li>
            <li class="text-red" ng-message="maxLength">氏名は50桁以内を入力してください。</li>
          </div>
          <div ng-messages="vm.userForm.company.$error" role="alert">
            <li class="text-red" ng-message="maxLength">社名は50桁以内を入力してください。</li>
          </div>
        </div>
        <div class="form-group mgnb text-center">
          <button-save back="admin.users.list"></button-save>
        </div>
      </div>
    </div>
  </form>
</div>